**Series**

Series = an array of data with an array of indices

In [1]:
import pandas as pd
series1 = pd.Series([1,3,-5,6])
series1

0    1
1    3
2   -5
3    6
dtype: int64

In [2]:
series1.values

array([ 1,  3, -5,  6])

In [3]:
series1.index

RangeIndex(start=0, stop=4, step=1)

**Series Indices**

Default indices are 0,1,2,3,â€¦
However indices may be specified

In [4]:
series2=pd.Series([13,15,17,19],index=["apple","orange","banana","mango"])
series2

apple     13
orange    15
banana    17
mango     19
dtype: int64

**Accessing Series Elements**

We can access single or subset of indices

In [5]:
series2['apple']=11

In [6]:
series2[['apple','mango']]

apple    11
mango    19
dtype: int64

**Array operations: filtering**

Conditional Selection

In [7]:
series2[series2 > 12]

orange    15
banana    17
mango     19
dtype: int64

Scalar Multiplication

In [8]:
series2/2

apple     5.5
orange    7.5
banana    8.5
mango     9.5
dtype: float64

**Data Frames**

In [9]:
dictStudent ={'Name': ['Ramesh', 'Vineet', 'Kunal', 'Neha', 'Subham'], 'ID': [141, 220, 555, 637, 212], 'CGPA': [7.8, 8.3, 9.5, 8.9, 9.1]}
studentFrame = pd.DataFrame(dictStudent)

In [10]:
studentFrame

     Name   ID  CGPA
0  Ramesh  141   7.8
1  Vineet  220   8.3
2   Kunal  555   9.5
3    Neha  637   8.9
4  Subham  212   9.1

Can rename the rows

In [11]:
studentFrame = pd.DataFrame(dictStudent, columns=['Name', 'ID', 'CGPA'], index=['row1','row2','row3','row4','row5'])

In [12]:
studentFrame

        Name   ID  CGPA
row1  Ramesh  141   7.8
row2  Vineet  220   8.3
row3   Kunal  555   9.5
row4    Neha  637   8.9
row5  Subham  212   9.1

Empty DataFrame

In [13]:
stud2=pd.DataFrame()
stud2

Empty DataFrame
Columns: []
Index: []

Absent Columns

In [14]:
studentFrame = pd.DataFrame(dictStudent, columns=['Name', 'ID','Major','CGPA'])
studentFrame

     Name   ID Major  CGPA
0  Ramesh  141   NaN   7.8
1  Vineet  220   NaN   8.3
2   Kunal  555   NaN   9.5
3    Neha  637   NaN   8.9
4  Subham  212   NaN   9.1

Retrieving Columns

In [15]:
studentFrame.ID

0    141
1    220
2    555
3    637
4    212
Name: ID, dtype: int64

In [16]:
studentFrame['ID']

0    141
1    220
2    555
3    637
4    212
Name: ID, dtype: int64

Retrieving Rows

In [17]:
studentFrame.iloc[0]

Name     Ramesh
ID          141
Major       NaN
CGPA        7.8
Name: 0, dtype: object

or ==> studentFrame.loc['row1']

**Assigning Columns**

In [18]:
students={'Name':['A','B','C','D','E'],'ID':[199,299,399,499,599],'CGPA':[9.3,9.2,9.1,8.9,9.5]}

In [19]:
studFrame=pd.DataFrame(students,columns=['Name','ID','CGPA'])

In [20]:
studFrame

  Name   ID  CGPA
0    A  199   9.3
1    B  299   9.2
2    C  399   9.1
3    D  499   8.9
4    E  599   9.5

In [21]:
studFrame['CGPA']=10
studFrame

  Name   ID  CGPA
0    A  199    10
1    B  299    10
2    C  399    10
3    D  499    10
4    E  599    10

In [22]:
import numpy as np
studFrame['CGPA']=np.arange(5)+5
studFrame

  Name   ID  CGPA
0    A  199     5
1    B  299     6
2    C  399     7
3    D  499     8
4    E  599     9

**Assigning Columns from Series**

A column that does not exist can be added

In [23]:
vals=pd.Series([7.5,8.5,9.5],index=[2,3,4])
studFrame['SGPA']=vals

In [24]:
studFrame

  Name   ID  CGPA  SGPA
0    A  199     5   NaN
1    B  299     6   NaN
2    C  399     7   7.5
3    D  499     8   8.5
4    E  599     9   9.5

Deleting Columns

In [25]:
del studFrame['SGPA']
studFrame

  Name   ID  CGPA
0    A  199     5
1    B  299     6
2    C  399     7
3    D  499     8
4    E  599     9

Dataframe from Dictionary of Dictionaries

In [26]:
avgs = {'Dhoni': {2017: 55.2, 2018: 32.91, 2019: 55.5}, 'Rishab': {2018: 41.5, 2019: 51.7}}

In [27]:
keepers=pd.DataFrame(avgs)
keepers

      Dhoni  Rishab
2017  55.20     NaN
2018  32.91    41.5
2019  55.50    51.7

The outer dictionary is treated as columns,
Inner dictionaries are treated as rows

**Pandas Index Objects**

Index objects store index labels and
index names for different pandas
objects

In [28]:
keepers.index

Int64Index([2017, 2018, 2019], dtype='int64')

In [29]:
batsmen=pd.Series([43,77,101],index=["Rohit","Dhawan","Kohli"])
batsmen.index

Index(['Rohit', 'Dhawan', 'Kohli'], dtype='object')

In [30]:
batsmen

Rohit      43
Dhawan     77
Kohli     101
dtype: int64

Index objects are immutable

**DataFrame Index Objects**

In [32]:
keepers.columns

Index(['Dhoni', 'Rishab'], dtype='object')

In [ ]:
keepers.index

Int64Index([2017, 2018, 2019], dtype='int64')

**Pandas Index Objects as Sets**

In [33]:
"Rishab" in keepers.columns

True

In [34]:
"Rohit"in keepers.columns

False

In [35]:
2017 in keepers.index

True

In [36]:
keepers.columns

Index(['Dhoni', 'Rishab'], dtype='object')

In [37]:
batsmen.index

Index(['Rohit', 'Dhawan', 'Kohli'], dtype='object')

In [38]:
batsmen.index.append(keepers.columns)

Index(['Rohit', 'Dhawan', 'Kohli', 'Dhoni', 'Rishab'], dtype='object')

Since index objects are immutable,
the above creates a new index object
without disturbing the original index

In [39]:
batsmen.index

Index(['Rohit', 'Dhawan', 'Kohli'], dtype='object')

**Pandas Index Object Methods**

We may remove entries from axes by
labels using drop or by explicitly
mentioning the index position using
delete

In [40]:
batsmen.index.drop("Rohit")

Index(['Dhawan', 'Kohli'], dtype='object')

In [41]:
batsmen.index.delete(1)

Index(['Rohit', 'Kohli'], dtype='object')